<%- layout ("/layouts/boilerPlate") %>


<div class="row">

    <div class="alert alert-danger" role="alert">
          <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>      
          <!-- <h2><%= error.statusCode %></h2> -->
          <h3>Error: <%= error.status %></h3>
          <p><%= error.message %></p>
          <a href="/listings" class="btn btn-primary">Go Back to Listings</a>
    </div>
</div>